.container{
    width: 1000px !important;
    background: #ffffff !important;
    border-radius: 10px;
    border: solid black 1px;
    margin: auto;
    padding: 20px;
}

.form-control{
    width:800px !important;
}